.html {
  box-sizing: content-box;
}
.article{
height:28rem;
}

.article-img{
height: 15rem;
width: 100%;
}

.headline-title{
  height: 3.5rem;
}

.footer{
  height:8rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width:480px){

  .news-sources{
    display: none;
  }
}