{% extends 'base.html' %}

{% block content %}
<h3 class="fw-bold"> Welcome to the News today - {{date_today}}</h3>
<hr>
<div class="container news-sources">
  <div class="d-inline-block
   ">
  {%for source in news_sources[:25]: %}
      <a href="/source/{{source.id}}"><span class="badge fw-bold text-dark bg-light m-2"><h5>{{source.name}}</h5></span></a>
    {% endfor %}
  </div>
</div>

<!-- {%for source in news_sources[:50]: %}
<ul>

  <li>{{source.name}}</li>
  <li>{{source.url}}</li>
</ul>

{% endfor %} -->
<div class="row">
{% for headline in news_headlines[:20]: %}
<div class="col-4">
<div class="card article my-2">
  <div class="card-title px-3 fw-bold text-decoration-underline">
    <p class="headline-title">{{headline.title | truncate(100)}}</p>
  </div>
  <div class="card-body">
  <div class="card-img">
    <img src="{{headline.image_url}}" class="img-fluid article-img rounded-3" alt="">
  </div>
  <div class="card-text">
    <p>{{headline.content | truncate(100)}}   <a href="{{headline.url}}" target="_blank"><span class="badge bg-primary">Read</span></a></p>
  </div>
</div>

</div>
</div>

{% endfor %}
</div>
{% endblock  %}

